.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

/lectures/01_introduction/data1/
/lectures/01_introduction/figures1/

/lectures/02_More_advanced/data1/
/lectures/02_More_advanced/figures1/

/lectures/03_final_points/figures1/